In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.DataFrame()
df['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
df['age'] = [14, 12, 11, 10, 8, 6, 8]
df

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [4]:
np.mean(df['age'])

9.857142857142858

In [16]:
print('Mean = {}'.format(np.mean(df['age'])))
print('Median = {}'.format(np.median(df['age'])))
import statistics
print('Mode = {}'.format(statistics.mode(df['age'])))

Mean = 9.857142857142858
Median = 10.0
Mode = 8

Mean and median both seem to be adequate measures of central tendency in this case, I would lean towards mean since
there is no extreme outlier in our data

In [6]:
df['age'] = [14, 12, 11, 10, 8, 7, 8]
print('Mean = {}'.format(np.mean(df['age'])))
print('Median = {}'.format(np.median(df['age'])))
import statistics
print('Mode = {}'.format(statistics.mode(df['age'])))

Mean = 10.0
Median = 10.0
Mode = 8

Mean changed slightly, median and mode remained the same

In [7]:
df['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
df['age'] = [14, 12, 11, 10, 8, 7, 1]
print('Mean = {}'.format(np.mean(df['age'])))
print('Median = {}'.format(np.median(df['age'])))
import statistics
print('Mode = {}'.format(statistics.mode(df['age'])))

Mean = 9.0
Median = 10.0

StatisticsError: no unique mode; found 7 equally common values

In this case median makes more since, as the Jessica = 1 datapoint is an outlier bringing the mean down significantly

In [8]:
fans = pd.DataFrame()
fans['Magazine'] = ['TV Guide', 'Entertainment Weekly', 'Pop Culture Today', 'SciPhi Phanatic']
fans['Like Brady Bunch'] = [.2, .23, .17, .05]
fans

               Magazine  Like Brady Bunch
0              TV Guide              0.20
1  Entertainment Weekly              0.23
2     Pop Culture Today              0.17
3       SciPhi Phanatic              0.05

In [16]:
percent = np.mean(fans['Like Brady Bunch']) * 100
percent
print('Based on these numbers, an estimated {} percent are Brady Bunch fans'.format(percent))

Based on these numbers, an estimated 16.250000000000004 percent are Brady Bunch fans